<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./hair.css"/>
    <title>Document</title>
</head>
<body>
    <section class="navigation">
        <h4>Ayesha.</h4>
        <nav class="nav">
            <li><a href="#">HOME</a></li>
            <li><a href="#">ABOUT</a></li>
            <li><a href="#">SERVICES</a></li>
            <li><a href="#">LOOKBOOK</a></li>
            <li><a href="#">NEWS</a></li>
            <li><a href="#">CONTACT</a></li>
            <i class="fa fa-search"></i>
            <i class="fa fa-shopping-bag"></i>
            <h5>- BOOK ONLINE</h5>
        </nav>
        
    </section>

    <section class="main">
        <div class="clickBait">
            <h1>BLONDE & HIGHLIGHT</h1>
            <h5>DIVIDE YOUR UNIQUENESS BY YOUR HAIRS IN TYLE</h5>
            <button>- OUR SERVICES</button>
            <div class="firstVisit">
                <h6>YOUR FIRST VISIT?</h6>
                <h5><span style="font-size: large;">-20% </span>FOR THE FIRST<br/>CLASSIC HAIR COLORING</h5>
                <button>- BOOK ONLINE</button>
            </div>
        </div>
    </section>

    <section class="experts">
        <div class="services">
            <i class="fa fa-won"></i>
            <h5>EXPERT BEAUTICIANS</h5>
            <p>Beauty Experts dolr sit omet semiodicing<br/>
                elit maecenas sa faulbus mollis expo sail<br/>
                and beauty extern interdum</p>
        </div>
        <div class="services">
            <i class="fa fa-yen"></i>
            <h5>QUALITY SERVICES</h5>
            <p>Hair Styling Services sit omet semiodicing<br/>
                elit maecenas sa faulbus mollis expo sail<br/>
                and beauty extern interdum</p>
        </div>
        <div class="services">
            <i class="fa fa-usd"></i>
            <h5>BEAUTY PRODUCTS</h5>
            <p>Hair color or Poduct sit omet semiodicing<br/>
               elit maecenas sa faulbus mollis expo sail<br/>
               and beauty extern interdum</p>
        </div>
    </section>

    <section class="momemtum">
        <div class="make">
            <h1>MAKE YOUR<br/> OWN MOMENTUM</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel posuere mi.<br/>
               Quisque condimentum efficitur malesuada. Maecenas non dapibus odio, sed faucibus<br/>
               velit. Sed et luctus eros. Duis placerat sed ante sit amet venenatis. Donec <br/>
               mattis nec massa eu rhoncus. Phasellus consectetur ornare elit in sodales. </p>
            <button>- READ MORE</button>
        </div>
        <iframe class="video" width="320" height="245" src="https://www.youtube.com/embed/tgbNymZ7vqY">
        </iframe>
        
    </section>

    <section class="hotties">
        <div id="name1" class="name">
            <div>
                <p>ALITA WILLIAMS<br/>
                -COLORISTS</p>
            </div>
        </div>
        <div id="name2" class="name">
            <div>
                <p>AYESHA LAKE<br/>
                -STYLER</p>
            </div>
        </div>
        <div id="name3" class="name">
            <div>
                <p>SMITH MIGHT<br/>
                -BEUTICIAN</p>
            </div>    
        </div>
    </section>

    <section class="ad">
        <h5>COLOUR DAY OFFER!</h5>
        <h1><span style="font-size:30px ;">-10% </span>ON HAIRCUT<br/>
        COLOR AND HIGHLIGHT</h1>
        <button>- BOOK APPOINTMENT</button>
    </section>

    <section class="lookbook">
        <div>
            <img class="naomi" src="./pics/naomi-campbell-wearing-a-pearl-encrusted-bra-top-posing-in-a-hotel-room-in-new-york-august-1991-photo-by-terry-oneill_iconic-images_getty-images.jpg"  alt="small image"/>
            <img class="kendall" src="./pics/t-kendall-jenner-enraged-models.webp" alt="big image"/>
        </div>
        <div>
            <img class="kendall" src="./pics/t-kendall-jenner-enraged-models.webp" alt="big image"/>
            <img class="naomi" src="./pics/naomi-campbell-wearing-a-pearl-encrusted-bra-top-posing-in-a-hotel-room-in-new-york-august-1991-photo-by-terry-oneill_iconic-images_getty-images.jpg"  alt="small image"/>
        </div>
        <div>
            <img class="naomi" src="./pics/naomi-campbell-wearing-a-pearl-encrusted-bra-top-posing-in-a-hotel-room-in-new-york-august-1991-photo-by-terry-oneill_iconic-images_getty-images.jpg"  alt="small image"/>
            <img class="kendall" src="./pics/t-kendall-jenner-enraged-models.webp" alt="big image"/>
        </div>
    </section>

</body>
</html>