<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./hair.css"/>
    <title>Document</title>
</head>
<body>
    <section class="navigation">
        <h4>Ayesha.</h4>
        <nav class="nav">
            <li><a href="#">HOME</a></li>
            <li><a href="#">ABOUT</a></li>
            <li><a href="#">SERVICES</a></li>
            <li><a href="#">LOOKBOOK</a></li>
            <li><a href="#">NEWS</a></li>
            <li><a href="#">CONTACT</a></li>
            <i class="fa fa-search"></i>
            <i class="fa fa-shopping-bag"></i>
        </nav>
        <h5>- BOOK ONLINE</h5>
    </section>

    <section class="main">
        <img src="./pics/blondeHighlight.jpg" alt="purple hair"/>
        <div class="clickBait">
            <h1>BLONDE & HIGHLIGHT</h1>
            <h5>DIVIDE YOUR UNIQUENESS BY YOUR HAIRS IN TYLE</h5>
            <button>- OUR SERVICES</button>
            <div class="first visit">
                <h6>YOUR FIRST VISIT?</h6>
                <h5><span>-20%</span>FOR THE FIRST<br/>CLASSIC HAIR COLORING</h5>
                <button>- BOOK ONLINE</button>
            </div>
        </div>
    </section>

    <section class="experts">
        <div class="services">
            <img src="#" alt=""/>
            <h5>EXPERT BEAUTICIANS</h5>
            <p>Beauty Experts dolr sit omet semiodicing<br/>
                elit maecenas sa faulbus mollis expo sail<br/>
                and beauty extern interdum</p>
        </div>
        <div class="services">
            <img src="#" alt=""/>
            <h5>QUALITY SERVICES</h5>
            <p>Hair Styling Services sit omet semiodicing<br/>
                elit maecenas sa faulbus mollis expo sail<br/>
                and beauty extern interdum</p>
        </div>
        <div class="services">
            <img src="#" alt=""/>
            <h5>BEAUTY PRODUCTS</h5>
            <p>Hair color or Poduct sit omet semiodicing<br/>
               elit maecenas sa faulbus mollis expo sail<br/>
               and beauty extern interdum</p>
        </div>
    </section>

    <section class="momemtum">
        <div class="make">
            <h1>MAKE YOUR OWN MOMENTUM</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel posuere mi.<br/>
               Quisque condimentum efficitur malesuada. Maecenas non dapibus odio, sed faucibus<br/>
               velit. Sed et luctus eros. Duis placerat sed ante sit amet venenatis. Donec <br/>
               mattis nec massa eu rhoncus. Phasellus consectetur ornare elit in sodales. </p>
            <button>- READ MORE</button>
        </div>
        <img src="#" alt="momentum">
    </section>

    <section class="hotties">
        <div class="name">
            ALITA WILLIAMS<br/>
            <p>-COLORISTS</p>
        </div>
        <div class="name">
            AYESHA LAKE<br/>
            <p>-STYLER</p>
        </div>
        <div class="name">
            SMITH MIGHT<br/>
            <p>-BEUTICIAN</p>
        </div>
    </section>

    <section class="ad">
        <h5>COLOUR DAY OFFER!</h5>
        <h1><span>-10%</span>ON HAIRCUT<br/>
        COLOR AND HIGHLIGHT</h1>
        <button>- BOOK APPOINTMENT</button>
    </section>

    <section class="lookbook">
        <img src="#" alt="small image"/>
        <img src="#" alt="big image"/>
        <img src="#" alt="big image"/>
        <img src="#" alt="small image"/>
        <img src="#" alt="small image"/>
        <img src="#" alt="big image"/>
    </section>

</body>
</html>