<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
		/>
		<link rel="stylesheet" href="./push.css" />
		<title>Document</title>
	</head>
	<body>
		<section class="brand">
			<section class="navigation">
				<i class="fa fa-pie-chart"></i>
				<nav>
					<a href="#">HOME</a>
					<a href="#">SERVICES</a>
					<a href="#">ABOUT</a>
					<a href="#">TEAM</a>
					<a href="#">BLOG</a>
					<a href="#">LOGIN</a>
					<button>SIGN UP</button>
				</nav>
			</section>

			<div class="inject">
				<h1>
					Inject Your Brand and<br />
					Values into a Physical Space
				</h1>
				<p>
					Place an order now, and our creative wordsmiths are on it like<br />
					dots on I's with all the necessaty. Reduces your total IoT cost<br />
					of operations.
				</p>
				<button class="orderContent">ORDER CONTENT</button>
				<i class=""><button class="createAccount">CREATE AN ACCOUNT</button></i>
			</div>
			<i id="comp" class="material-icons">computer</i>
		</section>

		<div class="injectFooter">
			<i class="fa fa-adn">airbnb</i>
			<i class="fa fa-windows">windows</i>
			<i class="fa fa-yahoo">yahoo</i>
			<i class="fa fa-youtube">youtube</i>
			<i class="fa fa-vimeo">vimeo</i>
			<i class="fa fa-vine">vine</i>
			<i class="fa fa-rebel">rebel</i>
		</div>

		<section class="howCanWeHelp">
			<section class="help">
				<h6>HOW WE CAN HELP YOUR BUSINESS</h6>
				<h4>
					We Are a Full-Service Marketing <br />
					and Design Firm
				</h4>
				<p>
					We are no born masters of good taste, but self-education can help<br />
					improve that. At Zajno, we played with leaf design and typography<br />
					relying on explanations of its effecive usage in "Form of the Book"
					by<br />
					Jan Tschichold.
				</p>
				<p>
					Share yout expertise with us. Were we successful in combing fonts<br />
					and choosing an appropriate typesetting method?We welcome your<br />
					feedback. Not only fitness classes should be fun,but also thier<br />
					internal management. With busy class schedules and wide variety of<br />
					instructos, adminstration is always a big deal.
				</p>
				<button>ORDER CONTENT</button>
			</section>

			<section class="digi">
				<div class="boxDiv">
					<section class="box">
						<div class="img">
							<i class="fa fa-file-image-o"></i>
							<p>Image here</p>
						</div>
						<section class="txt">
							<h6>DIGITAL & SOCIAL MEDIA</h6>
							<p>
								Effective social media success<br />
								takes effective all states
							</p>
						</section>
					</section>
					<div class="box">
						<div class="img">
							<i class="fa fa-file-image-o"></i>
							<p>Image here</p>
						</div>
						<div class="txt">
							<h6>BRAND MARKETING</h6>
							<p>
								We provide branding from the<br />
								inside-out planet
							</p>
						</div>
					</div>
				</div>
				<div class="boxDiv">
					<div class="box">
						<div class="img">
							<i class="fa fa-file-image-o"></i>
							<p>Image here</p>
						</div>
						<div class="txt">
							<h6>MEDIA BUYING</h6>
							<p>
								With extensive experience in<br />
								working in the region
							</p>
						</div>
					</div>
					<div class="box">
						<div class="img">
							<i class="fa fa-file-image-o"></i>
							<p>Image here</p>
						</div>
						<div class="txt">
							<h6>GRAPHIC &WEB DESIGN</h6>
							<p>
								As a brand marketing firm,<br />
								helping your company
							</p>
						</div>
					</div>
				</div>
			</section>
		</section>

		<section class="solutions">
			<div class="solutionIMG">
                <div class="img">
                    <i class="fa fa-file-image-o"></i>
                    <p>image here</p>
                </div>
			</div>
			<section class="solutionTxt">
				<h6>UNLIKE ANY ADVERTISING AGENCY</h6>
				<h1>
					We Are a Solution-Based<br />
					Marketing Company
				</h1>
				<p>
					Not only fitness classes should be fun, but also their internal
					management.<br />
					WIth busy class schedules and wide variety of instructors,
					administration is<br />
					always a big deal. The redesign challenge was to make manager life
					easier...
				</p>
				<p>
					We updated a calendar so that managers can have an easy and rapid<br />
					access to instructor schedule. From now on, there will be anability to
					set<br />
					tasks right on the dashboard.
				</p>
				<button>ORDER CONTENT</button>
			</section>
		</section>

		<section class="createAccount">
            <div class="solutionIMG">
                <div class="img">
                    <i class="fa fa-file-image-o"></i>
                    <p>image here</p>
                </div>
			</div>
			<h1>Create an Account for Free and use free trial</h1>
			<p>
				We ipdated a calendar so that manager can have an easy and rapid access
				to<br />
				instrctor schedule. From now on, there will be an ability to set tasks
				right on the<br />
				dashboardWe updated a calendar so that managers can habe an easy and
				rapid.
			</p>
			<input type="checkbox" id="response" name="response" />
			<label for="response">
				<h4>FASTEST RESPONSE RATE</h4>
				<p>
					Not only fitness classes should be fun, but also their internal
					management.
				</p>
			</label>
			<input type="checkbox" id="turnaround" name="turnaround" />
			<label for="turnaround">
				<h4>QUICK TURN AROUND</h4>
				<p>
					Not only fitness classes should be fun, but also their internal
					management.<br />
					With busy class schdules and wide bariety of instructors,
					adminstraion.
				</p>
			</label>
		</section>

        <section class="underneath">
            <button>VIEW HOW IT WORKS</button>
        </section>

        <section class="account">
            <h5>CREATE AN ACCOUNT FOR FREE</h5>
			<h3>Core Features and<br/> Technologies List</h3>
        </section>
       

		<section class="manyDivs">
			<div class="badDivs">
				<input type="checkbox" id="bad" name="bad" />
				<label for="bad">ALLOWS US TO BE YOUR GUIDE</label>
                <p>
                    Not only fitness classes should be fun, but also their internal
                    managment
                </p>
			</div>
			<div class="badDivs">
				<input type="checkbox" id="bad" name="bad" />
				<label for="bad">ALLOWS US TO BE YOUR GUIDE</label>
                <p>
                    Not only fitness classes should be fun, but also their internal
                    managment
                </p>
			</div>
			<div class="badDivs">
				<input type="checkbox" id="bad" name="bad" />
				<label for="bad">ALLOWS US TO BE YOUR GUIDE</label>
                <p>
                    Not only fitness classes should be fun, but also their internal
                    managment
                </p>
			</div>
			<div class="badDivs">
				<input type="checkbox" id="bad" name="bad" />
				<label for="bad">ALLOWS US TO BE YOUR GUIDE</label>
                <p>
                    Not only fitness classes should be fun, but also their internal
                    managment
                </p>
			</div>
			<div class="badDivs">
				<input type="checkbox" id="bad" name="bad" />
				<label for="bad">ALLOWS US TO BE YOUR GUIDE</label>
                <p>
                    Not only fitness classes should be fun, but also their internal
                    managment
                </p>
			</div>
			
		</section>

		<section class="standpoint">
			<div class="solutionIMG">
                <div class="img">
                    <i class="fa fa-file-image-o"></i>
                    <p>image here</p>
                </div>
			</div>
			<div>
				<h5>FROM THIS STANDPOINT</h5>
				<h3>
					Whose Approach is More Like That of a Fully-integrated Marketing
				</h3>
				<p>
					Not only fitness classes should be fun, but also their internal
					management.<br />
					WIth busy class schedules and wide variety of instructors,
					administration is<br />
					always a big deal. The redesign challenge was to make manager life
					easier...
				</p>
				<p>
					We updated a calendar so that managers can have an easy and rapid<br />
					access to instructor schedule. From now on, there will be anability to
					set<br />
					tasks right on the dashboard.
				</p>
			</div>
		</section>

		<section class="Theron">
			<h4>LOVE BY SOME OF THE BEST PEOPLE ON EATH</h4>
			<p>
				Need high quality original content that is SEO optimized and verified
				for originality? Place an order now, and our creative wordsmiths are on
				it like dots on.l's with all the necessary resources.
			</p>
			<div class="t">
				<div class="cTheron"></div>
				<h5>CHARLIZE THERON</h5>
				<p>CEO & Founder Uber</p>
			</div>
		</section>

		<section class="order">
			<h5>PLACE AN ORDER NOW, AND OUR ALL GUYS</h5>
			<h2>Take yout team anywhere to go.</h2>
			<button>ORDER CONTENT</button>
			<button>CONTACT US</button>
		</section>

		<footer>
			<section>
				<h6>CIRCLECIRCLE LTD</h6>
				<p>On our way to office, we start preparomg for rhe day in our minds</p>
				<input type="checkbox" name="career" />
				<label for="career">Careers</label>
				<input type="checkbox" name="phoneNumber" />
				<label for="phoneNumber">+1 718 222 22 2222</label>
				<input type="checkbox" name="hello" />
				<label for="hello">hello@circlecircle.com</label>
			</section>
			<section>
				<h6>PRODUCTS</h6>
				<h6><a href="#">Messaging API</a></h6>
				<a href="#">Content Pricing</a>
				<a href="#">Integrators</a>
				<a href="#">Channels</a>
				<a href="#">Documentation</a>
				<a href="#">API Reference</a>
				<a href="#">Changelog</a>
				<a href="#">E-Books</a>
				<a href="#">Status</a>
				<a href="#">Blogs</a>
				<a href="#">Contact Sales</a>
				<a href="#">API Libraries</a>
			</section>
			<section>
				<h6>FOR USERS</h6>
				<a href="#">Help Center</a>
				<a href="#">Learn More</a>
				<a href="#">Privacy and Terms</a>
				<a href="#">Prototyping</a>
				<a href="#">Sketch Business</a>
			</section>
			<section>
				<h6>INFORMATION</h6>
				<a href="#">Pricing</a>
				<a href="#">How it Works</a>
				<a href="#">Platform Features</a>
				<a href="#">Our Copywriters</a>
				<a href="#">Contact Us</a>
				<a href="#">Testimonials</a>
			</section>
			<section>
				<h6>RESOURCES</h6>
				<a href="#">Help Docs</a>
				<a href="#">FAQ's</a>
				<a href="#">Content Marketing Blog</a>
				<a href="#">Case Studies</a>
				<div>
					<i class=""></i>
					<i class=""></i>
					<i class=""></i>
					<i class=""></i>
				</div>
			</section>
		</footer>
	</body>
</html>
