*{
    box-sizing: border-box;
}

.headGrit{
    background-color: rgb(67, 103, 116);
    height: 50vh;
}

header{
    overflow: auto;
}

header > *{
    float:left;
}

nav{
    text-decoration: none;
}

h1,h3{
    text-align: center;
}


header > nav,button {
    width: 20%;
    text-align: center;
}


.donate{
    float: right;
}

header > .pic{
    display: block;
    margin-left: 28%;
}

.why{
    height: 40vh;
    text-align: center;
}

.grit{
    margin-top: 2.5%;;
    background-color: rgb(67, 103, 116);
    color: white;
    text-align: center;
}

a{
    text-decoration: none;
    color: darkblue;
}

.visit{
    background-color: rgb(213, 213, 228);
    overflow: hidden;
}

.visits{
    float:left;
    padding: 0 10%;
    width: 50%;
    text-align: center; 
}

.visits button{
    height:50px;
    width: 100px;
}

.volunteer{
    text-align: center;
    height: 40vh;
}

.tags{
    width: 10%;
    color: white;
    float: left;
}

.footer{
    background-color: rgb(6, 6, 26);
    color:white;
    
}

.tandc{
    overflow: hidden;
}

.contact{
    height: 100%;
    float: right;
}

.footsies{
    border-top:2px solid white;
    overflow: auto;
}



.logoFooter{
    float: right;
}

