<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="./lvlGround.css" />
		<title>Document</title>
	</head>
	<body>
		<section class="headGrit">
			<header>
				<nav>
					<a href="#"><span style="color: white; padding-right: 25px;">CLASSES</span></a>
					<a href="#"><span style="color: white;">HIRE US</span></a>
				</nav>
				<div class="pic">
					<img
						class="logoFooter"
						src="../LayoutPics/logo-social.png"
						alt="logoFooter"
						width="50"
						height="40"
					/>
				</div>

				<button class="donate">DONATE</button>
			</header>
			<br />
			<section class="grit">
				<h3>WHERE GRIT MEETS OPPORTUNITY</h3>
				<p>
					At Level ground (LG),urban youth cultivate grit and resilience through
					Mixed Marial Arts. They learn to apply these values `off the mat` in
					the pursiuit of their ambitions through our Student Trainer
					Certification and College Access programs.
				</p>
				<a href="#">Watch the Video</a>
			</section>
		</section>
		<section class="why">
			<h1>WHY</h1>
			<article>
				Lorem Ipsum is simply dummy text of the printing and typesetting
				industry. Lorem Ipsum has been the industry's standard dummy text ever
				since the 1500s, when an unknown printer took a galley of type and
				scrambled it to make a type specimen book. It has survived not only five
				centuries, but also the leap into electronic typesetting, remaining
				essentially unchanged. It was popularised in the 1960s with the release
				of Letraset sheets containing Lorem Ipsum passages, and more recently
				with desktop publishing software like Aldus PageMaker including versions
				of Lorem Ipsum.
			</article>
		</section>
		<section class="visit">
			<section class="visits">
				<div></div>
				<h4>VISIT THE GYM</h4>
				<article>
					There are many variations of passages of Lorem Ipsum available, but
					the majority have suffered alteration in some form, by injected
					humour, or randomised words which don't look even slightly believable.
					If you are going to use a passage of Lorem Ipsum, you need to be sure
					there isn't anything embarrassing hidden in the middle of text. All
					the Lorem Ipsum generators on the Internet tend to repeat predefined
					chunks as necessary, making this the first true generator on the
					Internet. It uses a dictionary of over 200 Latin words, combined with
					a handful of model sentence structures, to generate Lorem Ipsum which
					looks reasonable. The generated Lorem Ipsum is therefore always free
					from repetition, injected humour, or non-characteristic words etc.
				</article>
				<button>SEE CLASSES</button>
			</section>
			<section class="visits">
				<div></div>
				<h4>HAVE US VISIT YOU</h4>
				<article>
					There are many variations of passages of Lorem Ipsum available, but
					the majority have suffered alteration in some form, by injected
					humour, or randomised words which don't look even slightly believable.
					If you are going to use a passage of Lorem Ipsum, you need to be sure
					there isn't anything embarrassing hidden in the middle of text. All
					the Lorem Ipsum generators on the Internet tend to repeat predefined
					chunks as necessary, making this the first true generator on the
					Internet. It uses a dictionary of over 200 Latin words, combined with
					a handful of model sentence structures, to generate Lorem Ipsum which
					looks reasonable. The generated Lorem Ipsum is therefore always free
					from repetition, injected humour, or non-characteristic words etc.
				</article>
				<button>HIRE US</button>
			</section>
		</section>
		<br />
		<section class="volunteer">
			<h3>VOLUNTEER WITH LEVEL GROUND</h3>
			<p>
				Lorem Ipsum is simply dummy text of the printing and typesetting
				industry. Lorem Ipsum has been the industry's standard dummy text ever
				since the 1500s, when an unknown printer took a galley of type and
				scrambled it to make a type specimen book. It has survived not only five
				centuries, but also the leap into electronic typesetting, remaining
				essentially unchanged. It was popularised in the 1960s with the release
				of Letraset sheets containing Lorem Ipsum passages, and more recently
				with desktop publishing software like Aldus PageMaker including versions
				of Lorem Ipsum.
			</p>
		</section>
		<section class="footer">
			<section class="tandc">
				<section class="tags">
					<h5>
						<a href="#"><span style="color: white">SITE MAP</span></a>
					</h5>
					<p>
						<a href="#"><span style="color: white">classes</span></a>
						<a href="#"><span style="color: white">Hire Us</span></a>
					</p>
					<h5>
						<a href="#"><span style="color: white">CONTRIBUTE</span></a>
					</h5>
					<a href="#"><span style="color: white">Give</span></a>
					<a href="#"><span style="color: white">Volunteer</span></a>
				</section>
				<section class="contact">
					<p>LEVEL GROUND <br />MIXED MARTIAL ARTS</p>
					<p>
						50 Milk Street Floor 17 <br />Boston, MA, 02109 <br />410-533-2210
						<br />All@LVELGROUNDMMA.org
					</p>
				</section>
			</section>

			<section class="footsies">
				<p>
					Level Fround Mixed Martial Arts is a tax-exempt, 501(c)3 organization
					under the IRS. EIN 46-3915852.
				</p>
				<img
					class="logoFooter"
					src="../LayoutPics/logo-social.png"
					alt="logoFooter"
					width="50"
					height="40"
				/>
			</section>
		</section>
	</body>
</html>
