<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="./sourceWire.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>
    <header>
        <button class="display-btn">
            <i class="fa fa-bars">
                <div class="drop">
                    <a href="#">First Link</a>
                    <a href="#">Second Link</a>
                    <a href="#">Third Link</a>
                    <a href="#">Fourth Link</a>
                </div>
            </i>
        </button>
        <img class="logo" src="../LayoutPics/logo-social.png" alt="logo" width="90" height="45"/>
        <nav class="nav">
            <a href="#">First Link</a>
            <a href="#">Second Link</a>
            <a href="#">Third Link</a>
            <a href="#">Fourth Link</a>
        </nav>
        <button class="navButton">Button</button>
    </header>

    <section class="firstChunk">
        <div class="tagline">
            <h6>TAGLINE</h6>
            <h2>Source helps<br/>
                creators do more<br/>
                of what they love
            </h2>
            <div class="formDiv">
                <form class="form">
                    <input type="text" placeholder="Placeholder"/>
                    <button class="submit">Button</button>
                </form>
            </div>
            <p>
                A device that enables collaboration<br/>
                will lesson the chance of work having<br/>
                to be completely redone.
            </p>
        </div>
        <div id="imgDiv" class="imgDiv">
            <i class="material-icons">phonelink</i>
        </div>
    </section>

    <section class="secondChunk">
        <div class="feature">
            <h5>Feature one</h5>
            <i class="material-icons">rss_feed</i>
            <br/>
            <p>In sych a test the user performs
               realistic tasks by interacting with
               the paper prototype
            </p>
            <br/>
            <a href="#">First link</a>
        </div>
        <div class="feature">
            <h5>Feature two</h5>
            <i class="material-icons">border_color</i>
            <br/>
            <p>Three techniques of paper
               prototyping used for usability
               testing are comps wireframes</p>
            <br/>
            <a href="#">Second link</a>
        </div>
        <div class="feature">
            <h5>Feature three</h5>
            <i class="material-icons">attach_file</i>
            <br/>
            <p>Rapid prototyping involves
               a group of designers who each
               create a paper protoype</p>
            <br/>
            <a href="#">Third link</a>
        </div>
        <div class="feature">
            <h5>Feature four</h5>
            <i class="material-icons">pool</i>
            <br/>
            <p>Functionality is similarly
               unimportant, but in this case
               are closer to the final product
            </p>
            <br/>
            <a href="#">Fourth link</a>
        </div>
    </section>

    <section class="footerChunk">
        <h2>
            Collecting information <br/>
            about the problem
        </h2>
        <p>In the context of information architechture,
           information is seperate from<br/> both knowledgde
           and data, and lies nebulously between them.
        </p>
        <div class="greyBlk"></div>
    </section>
</body>
</html>