<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>
    <section class="welcome">
        <img src="./pics/logo.png" alt="Logo"/>
        <nav class="nav">
            <a href="#">Home</a>
            <a href="#">About Us</a>
            <a href="#">Menu</a>
            <a href="#">Order Now</a>
            <a href="#">Blog</a>
            <a href="#">Location</a>
            <i class="fa fa-shopping-cart"></i>
            <i class="fa-solid fa-magnifying-glass"></i>
        </nav>
        <div class="welcomeDiv">
            <h1>Welcome To Our Cuisine Restautant</h1>
            <form>
                <input type="text" placeholder="Search here"/>
                <input type="button" value="Location"/>
            </form>
        </div>
        <div class="likes">
            <i class="fa fa-facebook">252k</i>
            <i class="fa fa-twitter">252k</i>
            <i class="fa fa-instagram">252k</i>
        </div>
    </section>
    <section class="discover">
        <section class="About-us">
            <h2 class="discover">
                Discover Our Restaurant Story
            </h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br/> 
                In urna massa, dictum sit amet quam ut, accumsan fringilla<br/> 
                odio. Duis mattis eleifend fermentum. In purus est,<br/> 
                tristique nec eros ut, malesuada maximus nisi. Pellentesque<br/> 
                viverra ipsum et tortor cursus sodales. Duis egestas vel<br/> 
                sem sed pellentesque. In ullamcorper urna ut leo mollis<br/> 
                fringilla. Aenean risus arcu, dapibus in tempus id,<br/> 
                vestibulum vitae tellus. Curabitur purus eros, sodales a<br/> 
                malesuada et, varius in dolor. Suspendisse porta iaculis<br/> 
                tortor ac efficitur. 
            </p>
            <button class="discover-menu">Discover Menu</button>
        </section>
    </section>
    <section class="specialty">
        <h6>Order Online Now</h6>
        <h1>Our Specialty Cuisine</h1>
        <nav>
            <li><a href>Breakfast</a></li>
            <li><a href>Lunch</a></li>
            <li><a href>Dinner</a></li>
            <li><a href>Dessert</a></li>
            <li><a href>Shake</a></li>
        </nav>
        <div>
            <img src="./pics/breakfast.jpg" alt="breakfast"/>
            <img src="./pics/breakfast2.jpg" alt="breakfast2"/>
            <img src="./pics/breakfast3jpg.jpg" alt="breakfast3"/>
            <img src="./pics/breakfast4.jpg" alt="breakfast4"/>
            <img src="./pics/breakfast5.jpg" alt="breakfast5"/>
            <img src="./pics/breakfast6.jpg" alt="breakfast6"/>
            <img src="./pics/breakfast7.jpg" alt="breakfast7"/>
        </div>
    </section>
    <section class="opening">
        <h6>Book Table</h6>
        <h1>OPENING HOURS</h1>
        <div class="call">
            <i class="fa fa-whatsapp"><a class="whatsapp"></a></i>
            <h6>Call Now</h6>
            <h1>+12345678910</h1>
        </div>
        <div>
            
        </div>
    </section>
    <section class="customer"></section>
</body>
</html>