<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./lay1.css"/>
    <title>layout1</title>
</head>
<body>
    <header>header</header>
    <div class="small">small</div>
    <div class="small">small</div>
    <div class="small">small</div>
     <div class="big">big</div>
    <div class="big">big</div> 
    <footer>Footer</footer>
</body>
</html>